@{
    ViewBag.Title = "Upload Curated contents";
}
@using ContentsUploader.Models
@model ModelStateDictionary
<div class="jumbotron">
    <h1>Upload Curated Contents for Access to Justice  Site Consumption</h1>
    <p class="lead">This application helps to upload excel file and then extract related contents  persitst them to Curated experience related entities in the state specific data store.</p>
    @using (Html.BeginForm("FileUpload", "Home",
                                        null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal smart-green" }))
    {
        @Html.Partial("_UploadOptionView", ViewBag.ContentUploadOptionModel as ContentUploadOptions)

        @Html.AntiForgeryToken()
        if (Model != null && Model.Count == 1)
        {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        }
        if (Model != null && Model.Count > 1)
        {
            <div class='@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors") panel panel-danger'
                 data-valmsg-summary="true">
                <div class="panel-heading">
                    <span style="color:darkred">
                        Here is list of errors
                        @if (!Model.ContainsKey("invalid-upload-option") && !Model.ContainsKey("file-upload-error"))
                        {
                            @:(  @Model.Count errors occured ):
                    }
                    </span>

                    
                </div>
                <div class="panel-body">
                    <ol>
                        @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                        {
                            <li>@Html.Raw(modelError.ErrorMessage)</li>
                        }
                    </ol>
                </div>
            </div>

            @*<textarea>
       
            @foreach (var erroritem in Model)
            {

               
            }
            </textarea>
            @Html.ValidationSummary(Model)*@
        }
        <label for="file">Upload Excel containing chosen contents:</label>
        <input type="file" name="fileBase" id="file" /><br><br>
        <input type="submit" class="btn btn-primary btn-lg" value="Upload" />
        <br><br>
        @ViewBag.Message
       
        
     

      }
   

    @Html.Partial("_LanguageTranslationView", ViewBag.LanguageTranslationModel as LanguageTranslation)
    
</div>
